@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("/src/assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  }
  
  * {
    font-family: "Roboto";
  }
  
  